<html lang="en">
<head>
  <title><%=name%></title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
  <div id="cloud">
    <div class="row">
      <div class="profile-header-container">
        <div class="profile-header-img">
          <img class="img-circle" src="https://img.busy.org/@<%=name%>?s=200" />
          <!-- badge -->
          <div class="rank-label-container">
            <span class="label label-default rank-label"><%=name%></span>
          </div>
        </div>
        <div class="profile-header-container">
          <div class="profile-header-img"> 
            <div class="img-circle circl">
              <span><%=steem_balance%></span>
              <br>
              <span><%=sbd_balance%></span>
              <br>
              <span>SBD: <%= sbd_usd %> USD</span>
              <br>
              <span>STEEM: <%= steem_usd %> USD</span>
              <br>
              <span>TOTAL: <%= sum_usd %> USD</span>
              <br>
              <span>TOTAL: <%= sum_try %> TRY</span>

            </div>
            <!-- badge -->
            <div class="rank-label-container">
              <button onclick="location.reload();" class="label label-default rank-label" value="Reload"><i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>




</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>